<h2>URL Helpers</h2>

<a href="/numbers">Numbers</a><!-- Hard coded must be changed manually -->

<%= link_to "Numbers", numbers_path %> <!-- Can use number_path to point to route and only change there. -->
