<div class="container spacer"></div>
<div class="container">
  <div class="box" id="output-box">
    <form action="/locations" method="post">
      <div class="box input text">
        <label for="">Break:</label>
        <input type="text" name="beach" placeholder="Enter break name..." required autofocus>
      </div>
      <div class="box input text">
        <label for="">State/Region:</label>
        <input type="text" name="state" placeholder="Enter state/region..." required>
      </div>
      <div class="box input text">
        <label for="">Country:</label>
        <input type="text" name="country" placeholder="Enter country..." required>
      </div>
      <div class="box input unit">
        <label for="">Latitude:</label>
        <input type="number" step="0.0000001" name="latitude" placeholder="0.0">
        <span>° N</span>
      </div>
      <div class="box input unit">
        <label for="">Longitude:</label>
        <input type="number" step="0.0000001" name="longitude" placeholder="0.0">
        <span>° E</span>
      </div>
      <div class="box input text">
        <label for="">Snapshot:</label>
        <input type="url" name="url" placeholder="http://..." required>
      </div>
      <div class="box input textarea">
        <label for="">Description:</label>
        <textarea type="text" name="summary" placeholder="Brief description..."></textarea>
      </div>
      <div class="box input button">
        <button>Create</button>
      </div>
    </form>
  </div>
</div>
