/* @import url('https://fonts.googleapis.com/css?family=Anton'); */
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
body {
  background-image: url(../img/libraryofcongress.jpg);
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 25px;
}

h1 {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

p {
  padding-bottom: 0.7em;
}

.container {
  box-sizing: border-box;
  background-color: rgba( 0, 0, 0, 0.6);
  color: white;
  text-align: center;
  height: 80vh;
  margin-top: 25vh;
}

a {
  text-align: center;
  font-size: 45px;
  color: white;
  text-decoration: none;
}

.booking {
  height: 50vh;
  box-shadow: 3px 3px 3px rgba( 255, 241, 150, 0.8);
}
