/** ---------------
 * Import fonts
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/** ---------------
 * All
 */

* {
    box-sizing: border-box;
}


/** ---------------------------------------------------------------------------
 * Body
 */

body {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

/** ---------------------------------------------------------------------------
 * Semantic Elements
 */


/** ---------------------------------------------------------------------------
 * Container
 */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 965px;
    max-width: 100%;
    margin: auto;
    min-width:420px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 965px) {
  .container {
      padding: 0 25px;
  }
}

header {
  background: salmon;
}

#nav-header {
  display: grid;
  grid-template-columns: 200px 200px auto 400px;
  grid-template-rows: 40px;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#logo,
#nav,
#social {
  align-self: center;
  /* justify-self: center; Screws logo */
}

#logo h1 {
  display: flex;
  text-align: left;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  color: white;
}

#search-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 100px 100px;
}

form {
  display: grid;
  grid-template-columns: auto 70px;
  grid-template-rows: 30px;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
input,
button {
  height: 30px;
  width: 100%;
  font-size: 18px;
}

input {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 1px 8px;
}

button {
    vertical-align: top;
    color: salmon;
    border: 0;
    width: 100%;
    cursor: help;
}

#output-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 50px 100px;
}

/*
.box {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
}
*/

#title-box {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px;
  grid-column-gap: 0;
  grid-row-gap: 0;
  line-height: 40px;

  font-size:
}

#overview-box {
  display: grid;
  grid-template-columns: 142px auto;
  grid-template-rows: 100%;
  grid-column-gap: 0;
  grid-row-gap: 0;
  line-height: 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.year,
.reviews {
  color: rgb(128, 128, 128);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

p,
.rating {
  color: rgb(84, 84, 84);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  overflow-wrap: break-word;
  text-align: left;
}

#thumbnail-box {
  display: grid;
}

img {
  height: 100%;
}
