body {
  background-image: url(http://erskinewood.com/uploads/7/8/8/9/78897560/s123924034811090881_p96_i67_w1260.jpeg);
  background-repeat: no-repeat;
}

.container {
  max-width: 960px;
  margin: auto;
  box-sizing: border-box;
  background-color: rgba( 0, 0, 0, 0.55);
  height: 64.5vh;
  padding: 0.6em;
}

.background {
  max-width: 960px;
  margin: auto;
}

h1, h2, h3 {
  color: white;
}

nav {
  text-align: right;
  color: white;
  font-size: 14px;
}

nav a:visited {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

p {
  color: white;
}

a:visited {
  color: white;
}

.feature {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

label {
  color: white;
}

#jump2top	{
	display: block;
	position: absolute;
	bottom: -40px;
	right: 15px;
	width: 100px;
	height: 100px;
	background: transparent url("https://www.oregonhops.org/img/icons.png") 0 0 no-repeat;
	text-indent: -9999px;
	text-decoration: none;
	}
