body {
  font-family: Arial, sans-serif;
}

#container {
  max-width: 950px;
  margin: 0 auto;
  max-width: 960px;
}

#wrapper {
  background-image: url(../images/bg_body.png);
  background-repeat: repeat;
}

header {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  margin: 15px 0;
}

nav {
  width: 100vw;
  height: 60px;
  display: block;
  background-color: black;
  color: white;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  line-height: 60px
}

nav ul li a {
  width: 100%;
  padding: 10px 0;
}

h2 {
  font-size: 20px;
  padding: 10px 0;
}

.photobanner {
  margin: 0;
  padding: 0;
}

#blurb {
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  padding: 0.8em;
}

#blurb p {
  font-size: 17px;
  margin-right: 3em;
  vertical-align: middle;
}

#blurb img {
  width: 200px;
  height: 50px;
  display: inline-block;
  border: none;
}

a {
  text-decoration: none;
  color: #1f9cef;
}

#social-media * {
  width: 50%;
  height: 60px;
  display: inline;
  order: 2;
}

#social-media ul li{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: blue;
  text-indent: -9999em;
}

#social-media ul li.linkedin {
  background: url(../images/socialNav.png) 0px 64px;
}

#social-media ul li.linkedin:hover {
  background: url(../images/socialNav.png) 0px 0px;
}

#social-media ul li.twitter {
  background: url(../images/socialNav.png) -60px 64px;
}

#social-media ul li.twitter:hover {
  background: url(../images/socialNav.png) -60px 0px;
}

#social-media ul li.facebook {
  background: url(../images/socialNav.png) -120px 64px;
}

#social-media ul li.facebook:hover {
  background: url(../images/socialNav.png) -120px 0px;
}

#social-media ul li.rss {
  background: url(../images/socialNav.png) -180px 64px;
}

#social-media ul li.rss:hover {
  background: url(../images/socialNav.png) -180px 0px;
}

#logo {
  width: 300px;
  height: 100%;
  order: 0;
}

#home-boxes {
  margin-bottom: 15px;
}

.home-box {
  width: 30%;
  padding: 1%;
  height: 100px;
  display: inline-block;
}

#home-boxes p {
  font-size: 11px;
  padding: 6px 0;
}

#home-boxes img {
  border: 3px solid #EEEEEE;
  padding: 1px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#companybottom {
  text-align: right;
}
