@import url('https://fonts.googleapis.com/css?family=Charm|Great+Vibes|Nanum+Myeongjo|Playfair+Display');
/* font-family: 'Charm', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Great Vibes', cursive; */


body {
  background-color: blanchedalmond;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

h2 {
  font-family: 'Charm', cursive;
}

nav {
  text-align: center;
}

nav a {
  font-family: 'Playfair Display', serif;
}

.feature {
  max-width: 100%;
}
