<h2>All Directors</h2>
<% @directors.each do |director| %>
  <%= image_tag director.image, :class => 'thumb' %>
  <ul>
    <li>Name: <%= link_to director.name, director %></li>
    <li>Birthplace: <%= director.birth_place %></li>
    <% if director.dob.present? %>
      <li>Date of birth: <%= director.dob.strftime('%A, %B %e, %Y') %></li>
    <% end %>
    
  </ul>
<% end %>
