<h2>Another High Place?</h2>

<form action="<%= mountains_path %>" method="post">
  <label>Name:</label>
  <input type="text" name="name" required autofocus>
  <label>Location:</label>
  <input type="text" name="location" required>
  <label>Height</label>
  <input type="number" name="height" required>
  <label>Image:</label>
  <input type="text" name="image" required>
  <label>First Climber:</label>
  <input type="text" name="white_man" required>

  <button class="button">Let's Get High!</button>
</form>
