<h2>All Cities and Countries</h2>

<h3>Cities</h3>
<% @cities.each do |city| %>
<p>
  <a href="/cities/<%= city["id"]%>">
  <%= city["city"]%>
  </a>
</p>
<% end %>


<h3>Countries</h3>
<% @countries.each do |country| %>
<p>
  <a href="/countries/<%= country["id"]%>">
  <%= country["name"]%>
  </a>
</p>
<% end %>
