<div class="mainArticle">

<h2>About City Tracker</h2>

<p>City Tracker let's you track everywhere you've been in the world. Simply add a city and a country to the database and you'll have a running list of all of your travels! Share with your friends and keep them in the loop!</p>

<p>Make sure you add the country first, then the city. Include any pictures you like!</p>

</div>
