/* In very common usage: turn on the new box model for All elements.
* {
  box-sizing: border-box;
}
*/

body {
  background: aliceblue;
}

.old {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 50px;
}

.new { /* resizes for you automatically */
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 50px;
}
