<form action="/createsecretnumber">
  <div class="secretnumberview">
    <label>Enter the max number</label>
    <input type="text" name="max_number" required placeholder="123">
    <button>Go</button>
  </div>

</form>
