<h2>NEW   CHEESE</h2>

<form action="/cheeses" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Coon" required autofocus>
  <label>Province:</label>
  <input type="text" name="province" placeholder="Grosseto" required>
  <label>Region:</label>
  <input type="text" name="region" placeholder="Tuscany" required>
  <label>Image:</label>
  <input type="text" name="image" placeholder="http://..." required>
  <button>CREATE</button>
</form>
