<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/cheeses.css">
  <title>Cheese</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cheeses">All Cheeses</a>
      <a href="/cheeses/new">New Cheese</a>
    </nav>
    <h1>CHEESE</h1>
    <%= yield %>
  </div>
</body>
</html>
