<h2>New Beer</h2>

<form action="/beers" method="post">
  <label>Brewer</label>
  <input type="text" name="brewer" placeholder="Brewer name" required autofocus>
  <label>Name</label>
  <input type="text" name="name" placeholder="Beer name" required>
  <label>Style</label>
  <input type="text" name="Style" placeholder="Style of beer" required>
  <label>Image</label>
  <input type="url" name="image" placeholder="http://...">
  <button>Create</button>
</form>
