body {
  background-image: linear-gradient(to right,
      #fffdc2,
      #fffdc2 15%,
      #d7f0a2 15%,
      #d7f0a2 85%,
      #fffdc2 85%);
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  text-align: right;
}

nav a {
  color: white;
}

.feature {
  max-width: 100%;
}
