<h2>Rock Paper Scissors</h2>

<h3>How to play:</h3>
<p>
  <ol>
  <li>Select either rock paper scissors.</li>
  <li>Rock wins over scissors, scissors wins over paper and paper wins over rock.</li>
  <li>Good luck!</li>
  </ol>

  <form action="/rockpaperscissors/result">
    <label>Pick 1</label>
    <input name="play" type="text" placeholder="Rock, paper or scissors..">
    </input>
    <button> Submit Guess</button>
  </form>
</p>
