<div class="header">
	<h1 class="glitched">Game on Rails</h1>
</div>

<div class="game-links">
  <div>
    <a href="/magic">Magic 8 Ball</a>
  </div>

  <div>
    <a href="/secret">Secret Number</a>
  </div>

  <div>
    <a href="/rock">Rock Paper Scissors</a>
  </div>
</div>
