@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Playfair+Display');
/* font-family: 'EB Garamond', serif;
font-family: 'Playfair Display', serif;
font-family: 'Cinzel', serif; */

body {
  box-sizing: border-box;
  background-image: url('https://cdn.shopify.com/s/files/1/2116/6897/articles/mechanical-movement.jpg?v=1501177563');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.container {
  border-radius: 3em;
  max-width: 960px;
  min-height: 150vh;
  background-color: rgba(255,235,205,0.9);
  margin: auto;
}

h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 4em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-align: center;
}

h3.watchmaker_name {
  padding-left: 20px;
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  text-align: center;
}

h3 a {
  font-family: 'EB Garamond', serif;
  font-size: 1.5em;
  color: rgb(83, 83, 83);
}

.country {
  text-align: center;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Cinzel', serif;
  font-size: 20px;
  padding-bottom: 2em;
}

nav {
  text-align: center;
  padding-top: 30px;
}

a {
  font-family: 'Playfair Display', serif;
  color: rgb(11, 50, 150);
  text-decoration: none;
  padding: 0 20px 0 20px;
}

img {
  /* opacity: 1; */
}

.feature {
  display: block;
  margin: auto;
  max-height: 900px;
  max-width: 100%;
  padding: 50px 0 0 0;
  opacity: 1;
}

p {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: black;
  text-align: center;
}

.lorem {
  padding: 50px;
  text-align: center;
}

.controls {
  padding: 2em 0 3em 0;
  text-align: center;
  font-size: 20px;
  color: rgb(176, 4, 21);
}

label {
  font-family: 'EB Garamond', serif;
}

.index_list {
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: rgb(46, 46, 46);
  font-size: 20px;
}

ul {
  list-style: none;
  font-size: 20px;
  text-align: center;
}

li {
  padding: 10px 0 10px 0;
  margin-right: 35px;
}

form {
  padding-top: 3em;
  padding-bottom: 1em;
  display: block;
  text-align: center;
  vertical-align: middle;
}

label {
  padding: 1em;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}

input {
  height: 25px;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid black;
}

.button {
  padding-top: 2em;
}

button {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  height: 2.5em;
  width: 6em;
  border-radius: 6px;
}

.scroll {
  padding: 30px 0 0 0;
}


.ahci_link {
  display: block;
  padding-top: 2em;
  text-align: center;

}
