<form action="/search" >

  <input type="search" name="name" placeholder="     search a player" required>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Search</button>
</form>

<style>
  form {
    margin-top: 350px;
  }

  input {
    width: 400px;
    height: 40px;
    border-radius: 0.5em;
    display: block;
    margin: 40px auto;
  }
  button {
    width: 130px;
  }
</style>
