/* * {
  border: 1px solid green;
} */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans;', sans-serif;
}

header {
  padding: 30px 20px 30px 20px;
}

.container {
  max-width: 960px; /* Lazy way of making responsive site. Will play nice with small screens */
  margin: 0 auto;
  background-color: #aaa;
  padding: 1em; /* current font-size */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: red;
  text-decoration: none;
}

a {
  color: red;
  text-decoration: none;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
}

h1, h2, h3 {
  font-family: 'PT Sans';
}

main {
  display: inline-block;
  width: 65%;
}

main img {
  margin: 0 auto;
  display: block;
}

aside {
  display: inline-block;
  text-align: left;
  width: 5%; /* 75% + 20% === 100% */
  vertical-align: top;
  /* background-color: #cfc; */
  padding: 0.5em;
  /* border-radius: 0.5em; */
  /* box-shadow: 0 0 15px #222; */
}

aside h3 {
  text-align: center;
}

/* aside ul {
  padding-left: 17px;
} */
