<h1>Magic 8 Ball</h1>

<form action="/games/magic_8_ball/result">
  <label>Enter your question:</label>
  <input type="text" name="question" placeholder="A question..." required>
  <button>Get Fortune</button>
</form>
