<h1>Rock Paper Scissors</h1>

<form action="/games/rock_paper_scissors/result">
  <label>What is your throw?</label>
  <input type="text" name="throw" placeholder="Rock/Paper/Scissors" required autofocus>
  <button>Play!</button>
</form>

<!-- <p>Enter your throw in the URL</p>
<p>E.g. "localhost:3000/games/rock_paper_scissors/<strong>rock</strong>"</p> -->
