<h1>Secret Number</h1>

<p>Guess a secret number between 1 and 10:</p>

<form action="/games/secret_number/result">
  <input type="number" name="number" min="1" max="10" autofocus>
  <button>Guess</button>
</form>
