

<h2>All cities</h2>

<h3>These are all the cities you've been to!</h3>



<% @cities.each do |city| %>
<div class="all_cities">
  <a href="/cities/<%= city["id"] %>"> <%= city["city"] %></a>

</div>

<% end %>
