<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>City Tracker</title>
  <link rel="stylesheet" href="/css/cities.css">
</head>
<body>
  <div class="container">

  <nav>
    <a href="/">Home</a>
    <a href="/cities">All cities</a>
    <a href="/cities/new">Add City</a>
  </nav>

  <h1>City Tracker</h1>

  <%= yield %>
  </div>
</body>
</html>
