<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
  <link rel="stylesheet" href="/css/books.css">
</head>
<body>

  <div class="container">
    <nav>
      <a href="/">Home</a>
      |
      <a href="/books">All Books</a>
      <a href="/books/new">New Book</a>
      |
      <a href="/authors">All Authors</a>
      <a href="/authors/new">New Author</a>
    </nav>

    <h1>Books</h1>

    <%= yield %>
  </div>

</body>
</html>
