<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amazing Cats</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/cats">ALL Cats</a>
      <a href="/cats/new">New Cats</a>
    </nav>
    <h1>Cute Cute Cute Cats</h1>
    <%= yield %>
    </div>
  </body>
</html>
