body {
  background: url(/pic/bg.jpg);
  background-position: 50% 0;
  background-color: #dd6;
}

#overlay {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: -1;
}

nav {
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  line-height: 30px;
  margin: 5px 0;
  padding: 5px;
}

nav a:hover {
  border-radius: 0.5em;
  border: 1px solid white;
}

#container {
  color: white;
  width: 90%;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-top: 12vh;
}

h2 {
  margin-top: 50px;
}

#team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
}

#team-grid a {
  text-decoration: none;
  color: white;
}

#team-grid img:hover {
  transform: scale(1.3);
}


table {
  width: 100%;
  margin-top: 50px;
  font-size: 30px;
}

table tr {
  height: 70px;
}

table th {
  width: 50%;
  border: 1px solid white;
  border-radius: 0.25em;
}

table td {
  width: 50%;
  border: 1px solid white;
  border-radius: 0.25em;
}

.form-row {
  width: 100%;
  display: flex;
  justify-content:flex-start;
  height: 50px;
  margin: 50px 0;
}

.form-row label {
  width: 50%;
  font-size: 20px;
  line-height: 50px;
}

.form-row input {
  height: 50px;
  border-radius: 0.5em;
}

form button {
  width: 200px;
  height: 40px;
  border-radius: 0.5em;
  background-color: lightgreen;
  border: none;
  box-shadow: 0px 3px 18px 1px rgba(255,255,255,0.5);
  font-size: 20px;
}

#edit-id {
  display: none;
}


#control a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin: 40px 20px;
  width: 140px;
  height: 35px;
  font-size: 25px;
  line-height: 35px;
  border-radius: 0.25em;
  background-color: #73d153;
}

#control a:hover {
  background-color: #b4f276;
}

#control a:last-of-type {
  background-color: #e04018;
}

#control a:last-of-type:hover {
  background-color: #f46f4e;
}
