@import url('https://fonts.googleapis.com/css?family=Roboto|Russo+One');

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #9DBBAE;
  color: #356F91;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #E2DBBE;
  line-height: 40px;
}

nav {
  text-align: right;
}

nav a {
  color: #769FB6;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  color: #356F91;
}

.container, nav {
  max-width: 960px;
  margin: auto;
}

h1, h2 {
  font-family: 'Russo One', sans-serif;
}

.index {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: space-around;
}

.index img {
  max-height: 20vh;
}

.index a {
  text-decoration: none;
  color: #356F91;
}

.index a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.feature {
  max-width: 960px;
}

form {
  max-width: 400px;
  margin: 30px 0;
  border-radius: 2px;
  padding: 20px;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  display: block;
  padding: 8px;
  border: 1px solid #E2DBBE;
  margin-bottom: 30px;
  border-radius: 3px;
}

form li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

form li > label {
  display: block;
	float: left;
	margin-top: -19px;
  background-color: #9DBBAE;
  height: 18px;
  padding: 2px 5px;
  color: #356F91;
  font-size: 14px;
  overflow: hidden;
}

form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 20px;
	font-size: 16px;
	padding: 0;
  background-color: #9DBBAE;
}

form li > span {
  background: #769FB6;
  display: block;
  padding: 3px;
  margin: 0px -9px -9px -9px;
  text-align: center;
  color: #356F91;
  font-size: 11px;
}

form textarea {
  resize: none;
}

form button {
	background: #769FB6;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #356F91;
	border-radius: 3px;
	color: white;
}

form button:hover {
	background: #6B9FFF;
	color:#fff;
}

.edits a, form {
  color: #E2DBBE;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  background-color: #356F91;
  display: inline-block;
  padding: 5px;
}

.edits form input {
  display: inline-block;
  background-color: #356F91;
  border: none;
  color: #E2DBBE;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.edits form {
  padding: 0;
  margin: 0;
  border: none;
  color: #E2DBBE;
}
