<form action="/book">

  <div class="search_book">
    <label>Insert Title: </label>
    <input type="text" name="book_title" placeholder="Dora the Explorer" required>
    <button>Search Title</button>
  </div>

  <div class="search_author">
    <label>Insert Author: </label>
    <input type="text" name="book_author" placeholder="Marcus Aurelius">
    <button>Search Author</button>
  </div>



</form>
