<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/master.css">
  <title>Look4Book</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Look4Book!</h1>

    <%= yield %>

    <footer>
      &copy; bananarama
    </footer>
  </div>
</body>
</html>
