<h2>Welcome to the Pokedex</h2>

<h3>What are Pokemon?</h3>
<p>
  Pokémon are creatures of all shapes and sizes who live in the wild or alongside humans. For the most part, Pokémon do not speak except to utter their names. There are currently more than 700 creatures that inhabit the Pokémon universe.

  Pokémon are raised and commanded by their owners. During their adventures, Pokémon grow, level up and become more experienced and even, on occasion, evolve into stronger Pokémon.

  There are over a dozen different types of Pokémon, such as Fire type, Psychic type, and Dragon type. Every Pokémon type comes with both advantages as well as disadvantages when battling different Pokémon types.
</p>

<h3>What is the Pokedex?</h3>
<p>
  The Pokedex catalogues and provides information about various species of Pokemon.
</p>

<p>
  You can use this API to store the name & type of Pokemon you have seen, as well as whether it evolves or not and an image.
</p>
