<h2>Enter a new Pokemon:</h2>

<form action="/pokedex" method="post">
  <div class="form">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Bulbasaur" required>
  </div>
  <div class="form">
    <label>Type:</label>
    <input type="text" name="type" placeholder="Grass" required>
  </div>
  <div class="form">
    <label>Evolves:</label>
    <input type="number" name="evolves" placeholder="0 or 1" required>
  </div>
  <div class="form">
    <label>Image:</label>
    <input type="text" name="image" placeholder="http://...">
  </div>

  <button>Create Pokemon</button>
</form>
