<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">

  <ul>
    <li>
      <label>Name:</label>
      <input type="text" name="name" required>
      <span>Enter the name of the mountain here</span>
    </li>
    <li>
      <label>Range:</label>
      <input type="text" name="range">
      <span>Enter the name of the mountain range</span>
    </li>
    <li>
      <label>Image:</label>
      <input type="text" name="image">
      <span>Enter the URL of an image</span>
    </li>
    <li>
      <label>Height:</label>
      <input type="number" name="height" required>
      <span>Enter the height in metres</span>
    </li>
    <li>
      <label>Type:</label>
      <input type="text" name="type">
      <span>Enter the type of mountain</span>
    </li>
    <li>
      <label>Location:</label>
      <input type="text" name="location">
      <span>Enter the location of the mountain</span>
    </li>
    <li>
      <button>Create Mountain</button>
    </li>
  </ul>

</form>
