.container {
  max-width: 960px;
  margin: auto;
  text-align: center;
}

body {
  background-color: #ccc;
}

nav a {
  margin: 5px 10px 5px 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
  line-height: 40px;
}

nav a:hover {
  border: 1px solid black;
  border-radius: 0.25em;
  background-color: #999;
}

nav {
  background-color: #666;
  height: 40px;
}

h1 {
  text-align: center;
  margin-top: 15vh;
  font-family: cursive;
}

form {
  text-align: center;
  margin: 50px auto;
}

form input {
  width: 400px;
  height: 50px;
  border-radius: 0.5em;
  text-align: center;
}

form button {
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 40px;
  border-radius: 0.5em;
  font-size: 20px;
  background-color: #94a8a7;
  box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.75);
}

form button:hover {
  transform: scale(1.1);
  background-color: #a8c4c2;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h2 span {
  font-size: 14px;
  font-weight: normal;
}

#main-img {
  display: block;
  margin: 20px auto;
  width: 300px;
  box-shadow: 0px 10px 29px 2px rgba(0,0,0,0.75);
}

.main-book a {
  width: 300px;
}

.show-more {
  display: none;
}

.show-more a {
  width: 200px;
}

.show-more p {
  width: 200px;
}

.show-more .books {
  display: inline-block;
}

img {
  transition: all .2s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}
