<h2>New Beer</h2>

<form action="/beers/" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Beer name" required autofocus>
  <label>Brewer:</label>
  <input type="text" name="family" placeholder="Brewer name" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">
  <button>Create</button>
</form>
