<form action="/secret_numbers/answer">
  <label>What number am I thinking?!</label>
  <label>Pick A Number between 1 and 10</label>
  <input type="number" name="guess" required placeholder="#">
  <button>HIT ME!</button>
</form>
