<h2>New Car</h2>

<form action="/cars" method="post">
  <label>Model:</label>
  <input type="text" name="model" placeholder="Car model" required autofocus>
  <label>Model Year:</label>
  <input type="text" name="model_year" placeholder="Model year" required>
  <label>Manufacturer:</label>
  <input type="text" name="manufacturer" placeholder="Manufacturer" required>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">
  <button>Create</button>
</form>
