<p class="homeContent">There are at least 109 mountains on Earth with elevations greater than 7,200 metres (23,622 ft) above sea level. The vast majority of these mountains are located on the edge of the Indian and Eurasian continental plates. Only those summits are included that, by an objective measure, may be considered individual mountains as opposed to subsidiary peaks.</p>
