@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto');

body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
}

.container {
  max-width: 960px;
  margin: auto;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
}

h1, h2, h3 {
  font-family: 'Lalezar', cursive;
  padding: 20px 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
}

nav {
  max-width: 960px;
  margin: auto;
  color: black;
}

nav a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.home {
  text-align: left;
}

main a {
  color: white;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.feature {
  max-width: 100%;
  max-height: 60vh;
  margin-bottom: 20px;
}

.controls a {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 8px;
}
