<form action="/bookcover">

  <label>Enter Title here:  </label>
  <input type="search" name="book_title" placeholder="Harry Potter" required>
  <button>Get book cover</button>

</form>

<p>
  Here's the book cover of <%= @title %>!
</p>
  <img src="<%=@book_cover%>" alt="<%=@title%> book cover">
