
<div class="container" id="search-box">
  <form action="/output">
    <input type="text" name="book_title" placeholder="Search for book ..." required>
    <button><i class="fas fa-search"></i></button>
  </form>
</div>
