<h1>THE MAGIC EIGHT BALL</h1>

<img src="/assets/eight-ball.gif" alt="Simspons 8 Ball">

<form action="/eight_balls/answer">
  <label>Ask anything? Your future will be revealed!</label>
  <input type="text" name="question" required placeholder="Anything you want!">
  <button>ANSWER ME!</button>
</form>
