<h2>Welcome To Some Fine Beers</h2>

<p>This site is an homage to some of the greatest beer in the world. The late
great Michael Jackson, no not that Michael Jackson. The foremost expert on all
things to do with tasty suds. He described the beer in Portland, Oregon as a beer
capital; "Once the beer lover has discovered Portland Oregon, he finds it hard to
leave."</p>

<p>He has also said that, "Of all America's beer-hunting grounds, two are truly
remarkable. One is northern California, which can be explored from San Francisco,
preferably with the help of the Celebrator. The other is the Pacific Northwest:
centred on Portland, Oregon.</p>

<p>After a lifetime of motels, I stay at the Heathman Hotel, in Portland. It has
teak walls decorated with Japanese art, and owns the trendy lunch spot across
the street with a brewery attached. Another of the town's several breweries,
BridgePort, offers in its taproom the best cask-conditioned beer I have tasted
in America."</p>
