<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <title>COFFEE</title>
  </head>

  <div class="nav">

    <a href="/coffees">Home</a>
    <a href="/coffees/new">Create</a>
    <a href="coffees/"></a>

  </div>

  <body>

    <%= yield %>

  </body>
  
</html>
