div{
  display : inline-block;
  width : 200px;
  height: 350px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}
div p{
  font-size: 20px;
  font-weight: 700px;
  background-color: Grey;
  color : #FFF;
}
div li{
  text-decoration: none;
  list-style: none;
}
