/* * {
  border: 1px solid green;
} */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto+Mono');

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 960px; /* Lazy way of making responsive site. Will play nice with small screens */
  margin: 0 auto;
  background-color: #ccc;
  padding: 1em; /* current font-size */
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: green;
  text-decoration: none;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

main {
  display: inline-block;
  width: 75%;
}

main img {
  margin: 0 auto;
  display: block;
}

aside {
  display: inline-block;
  width: 20%; /* 75% + 20% === 100% */
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px #222;
}

/* aside h3 {
  text-align: center;
} */

aside ul {
  padding-left: 17px;
}
