<h2>New Butterfly</h2>

<form action="/add" method="post">

  <label>Name:</label>
  <input type="text" name="profile_name" placeholder="Name" required autofocus>
  <label>Article:</label>
  <input type="text" name="article_title" placeholder="Article Title" required>
  <label>Sub Title:</label>
  <input type="text" name="article_subtitle" placeholder="Sub Title" required>
  <label>Article Text:</label>
  <input type="text" name="article_text" placeholder="Article Text" required>


  <label>Images:</label>
  <input type="url" name="profile_image" placeholder="Display pic http://...">
  <input type="url" name="thumb1" placeholder="Thumb 1 http://...">
  <input type="url" name="thumb2" placeholder="Thumb 2 http://...">
  <button>Create</button>
