<h1>Edit House</h1>

<form action="/houses/<%= @house.id %>">
  <label>Name: </label>
  <input type="text" name="house_name" value="<%= @house.house_name %>" placeholder="Griffindor" required>
  <label>Crest: </label>
  <input type="text" name="crest" value="<%= @house.crest %>" placeholder="http://...">

  <button>Update House</button>
</form>
