<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/watches.css">
  <title>WATCHES</title>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/watches">The Collection</a>
        <a href="/watches/new">New Piece</a>
        <a href="/watchmakers">Watchmakers</a>
        <a href="/watchmakers/new">New Watchmaker</a>
      </nav>
    </header>
    <h1>Horology Database</h1>
    <%= yield %>
  </div>
</body>
</html>
