<h2>NEW WATCHMAKER</h2>

<form action="/watchmakers" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="George Daniels" required autofocus>
  <label>Nationality:</label>
  <input type="text" name="country" placeholder="England" required>
  <label>Portrait:</label>
  <input type="text" name="photo" placeholder="http://...">
  <div class="button">
    <button>Create</button>    
  </div>
</form>
