/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
     margin: 0;
	 padding: 0;
	 font-size: 12px;
	 line-height: 20px;
	 font-family: "Times New Roman", serif;
	 color: #656565;
	 background: #FFF;

}

#container {
	width: 950px;
	margin: 0 auto;
}

a {
	color: blue;
}

a:hover {
	color: #20222a;
}

.press {
	border: 4px solid #cbc8cc;

}

.date {
	color: blue;
	padding-bottom: 0;

}