<h2 class="animated flip delay-1s">New Iconic Building</h2>

<form action="/buildings" method="post">
    <label>Name:</label>
    <input type="text" name="name" placeholder="Building name:" required autofocus>

    <label>City:</label>
    <input type="text" name="city" placeholder="In which City:" required>

    <label>Country:</label>
    <input type="text" name="country" placeholder="In which Country:" required>

    <label>Image:</label>
    <input type="url" name="image" placeholder="http://...">

    <label>Designer:</label>
    <select name="designer_id">
        <option></option>
        <% Designer.all.each do |designer| %>
        <option value="<%= designer["id"] %>"><%= designer["name"] %></option>
        <% end %>
    </select>

    <button class="create">Create</button>
</form>