<h2 class="animated flip delay-1s">Edit Info</h2>

<form action="/designers/<%= @designer['id']%>" method="post">
    <label>Name:</label>
    <input type="text" name="name" value="<%= @designer['name'] %>" placeholder= "Designer name:" required autofocus>

    <label>Image:</label>
    <input type="url" name="image" value="<%= @designer['image'] %>" placeholder="http://...">

    <button class="update">Update</button>
</form>