<h2 class="animated bounceInDown delay-1s">Architects & their works</h2>
<h3 class="animated fadeIn delay-2s" id="home"> Perhaps one of the greatest joys of traveling is drinking in the local culture. Its essence is all around: reflected in the food, the textiles, the dialects, and of course, the architecture. Each destination's local flair infuses itself into landmarks that have stood the test of time and serve to teach us about the past. It's been said that travel is the only thing you can buy that makes you richer, and we couldn't agree more. </h3>

<br>
<br>