<h2>New mountain</h2>

<form action="<%= mountains_path %>" method="post" class="form">

  <label>Name: </label>
  <input type="text" name="name" required>

  <label>Ranking: </label>
  <input type="text" name="ranking" required>

  <label>Height: </label>
  <input type="text" name="height" required>

  <label>Country: </label>
  <input type="text" name="country" required>

  <label>Image: </label>
  <input type="url" name="image" required>

  <button>Add mountain</button>

</form>
