<div class="wrapper">

  <div class="book info">
    <h3 class="title">Title: </h3>
    <p><%= @title %></p>
    <h3>Author(s): </h3>
    <p><%= @author %></p>
    <h3>Description: </h3>
    <p><%= @description %></p>
  </div>

  <div class="book cover">
    <%= @img %>
  </div>

</div>
