<form action="/books" method="post">
  <label>Title</label>
  <input type="text" name="title" placeholder="Title of book" require autofocus>
  <label>Author</label>
  <input type="text" name="author" placeholder="Author of book" require>
  <label>Image</label>
  <input type="text" name="image" placeholder="Image of book">
  <button>Create</button>
</form>
