<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="/js/singers.js"></script>
  <link rel="stylesheet" href="/css/singers.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/singer">Details</a>
    <a href="/songs/new">Media</a>
  </nav>
  <div class="container">
    <%= yield %>

  </div>
</body>
</html>
