<h2>Add Singers</h2>
<form action="/singer/new" method="post">
  <input type="text" name="name" placeholder="Singer Name">
  <input type="text" name="image" placeholder="http://">
  <input type="datetime" name="birthdate" placeholder="Singer birth date">
  <input type="text" name="city" placeholder="Singer City">
  <input type="text" name="state" placeholder="Singer State">
  <input type="text" name="country" placeholder="Singer Country">
<button>Create</button>
</form>
