body {
  background: rgb(0, 0, 0);
  font-family: "courier new", sans-serif;
}

nav {
  text-align: right;
}

.container {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
  background-image: url('newspaper.jpg');
  /* background: rgb(250, 250, 250, 0.9); */
}

a {
  color: black;
  font-family: "courier new", sans-serif;
  text-decoration: none
}

header {
  border-bottom: 3px solid black;
  margin-bottom: 30px;
}

article {
  display: inline-block;
  width: 480px;
  margin-right: 22px;
}

aside {
  width: 256px;
  vertical-align: top;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

footer {
  height: 18px;
  background: black;
  color: white;
}

h3.bottom-border, h2.bottom-border {
  border-bottom: : 3px solid rgb(194, 194, 194);
  font-size: 18px;
  /*border-bottom-right-radius: 15px;*/
}

h5 {
  font-family: "courier new", sans-serif;
  font-weight: 200;
  display: block;
}

li {
  line-height: 40px;
}

img {
  border: 3px solid rgb(180, 180, 180);
}

div.lb {
  background: rgb(180, 180, 180);
  display: inline-block;
  width: 2px;
  height: 500px;
  margin-right: 20px;
  vertical-align: top;
}
