<!-- <form action="/search_result">
  <label>enter keyword:</label>
  <input type="text" name="key_word" required>
  <button>search</button>
</form> -->

<form action="/cover">
  <label>Book Title:</label>
  <input type="text" name="BookTitle" placeholder="Jaws" required>
  <button>More Info</button>
</form>

<div class="space">
<img src="/img/download.jpeg">
</div>
