body {
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-size: 140%;

}

header {
  background-color: black;
  line-height: 60px;
  color: white;
  text-align: center;
  margin: 0;
}

header > h1 {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 400px;
}

form {
  margin: 10px;
}

#submit {
  display: block;
  margin: 15px auto 0 auto;
  font-size: 140%;
  width: 20%;
  background-color: black;
  color: white;
  font-family: monospace;
}
