<h2>Create Mountain</h2>
<form action="/mountain" method="post">
  <input type="text" name="name" placeholder="Mountain Names" >
  <input type="text" name="image" placeholder="http://" >
  <input type="text" name="height" placeholder="1223" >
  <input type="text" name="state" placeholder="State names" >
  <input type="text" name="country" placeholder="Country" >
  <button>Create</button>
</form>
