<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/watches.css">
  <title>Watches</title>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/watches">All Watches</a>
      <a href="/watches/new">New Watches</a>
    </nav>
    <h1>WATCHES</h1>
    <%= yield %>
  </div>
</body>
</html>
