<h2>New Watch</h2>

<form action="/watches" method="post">
  <label>Company:</label>
  <input type="text" name="company" placeholder="Omega" required autofocus>
  <label>Model:</label>
  <input type="text" name="model" placeholder="Speedmaster" required>
  <label>Country:</label>
  <input type="text" name="country" placeholder="Switzerland" required>
  <label>Dial Image:</label>
  <input type="text" name="dial" placeholder="http://...">
  <label>Movement Image:</label>
  <input type="text" name="movement" placeholder="http://...">
  <button>CREATE</button>

</form>
