/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
  display: block;
  background-color: white;
  width: 1000px;
  margin: 0 auto;
}

h1, h2, p {
  font-family: TNR;
  color: grey;
}

h1 {
  color: #9a9797;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
}

img {
  align-content: space-between;
  border: 3px solid white
}

.box {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  border: 5px solid #d0c7c7;
  height: 150px;
  width: 230px;
}
