<h2>Add a League</h2>

<form action="/new_league" method="post">


  <div class="form-row">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="league name.." required>
  </div>

  <div class="form-row">
    <label for="country">Country: </label>
    <input type="text" name="country" placeholder="country of the league.." required>
  </div>

  <div class="form-row">
    <label for="logo">Logo URL: </label>
    <input type="URL" name="logo" placeholder="Http://..." required>
  </div>
  <button>Submit</button>
</form>
