<h2>New Animation</h2>

<form action="/animations" method="post">
  <label>Name:</label>
  <input type="text" name="name" placeholder="Animation name" required autofocus>
  <label>Image:</label>
  <input type="url" name="image" placeholder="http://...">

  <label>Publish Author:</label>
  <select name="author_id">
    <option></option>
    <% Author.all.each do |author| %>
      <option value="<%= author["id"] %>"><%= author["name"] %></option>
    <% end %>
  </select>

  <button>Create</button>
</form>
