<h2>Welcome To The Amazing Animation World</h2>

<p>Anime is an art form, specifically animation, that includes all genres found
in cinema, but it can be mistakenly classified as a genre. In Japanese, the term
anime is used as a blanket term to refer to all forms of animation from around
the world. In English, anime is more restrictively used to denote a
"Japanese-style animated film or television entertainment" or as "a style of
 animation created in Japan".</p>

<style>
@import url('https://fonts.googleapis.com/css?family=Coiny');

h2 {
  font-size: 40px;
  color: red;
}

p {
  font-size: 20px;
  font-family: 'Coiny', cursive;
  color: #432429;
}

</style>
