<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anime</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/animations">All Animes</a>
      <a href="/animations/new">New Anime</a>
      |
      <a href="/authors">All Authors</a>
      <a href="/authors/new">New Author</a>
    </nav>

    <h1 class="rainbow">Anime World</h1>

    <%= yield %>
  </div>
</body>
</html>
