body {
  background-image: url(../images/desert-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffcf00;
  height: 100%;
}

#cactus {
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 10;
}

#cactus2 {
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: -1;
}
